/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #72351f !important;
  --toolbarbutton-icon-fill: #ffb59c !important;
  --toolbar-field-color: #f1dfd9 !important;
  --tab-selected-textcolor: #ffb59c !important;
  --toolbar-color: #f1dfd9 !important;
  --arrowpanel-color: #f1dfd9 !important;
  --arrowpanel-background: #271d1a !important;
  --sidebar-text-color: #f1dfd9 !important;
  --zen-main-browser-background: #1a110f !important;
  --zen-main-browser-background-toolbar: #1a110f !important;
}

#zen-browser-background {
  --zen-main-browser-background: #1a110f !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #1a110f !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #271d1a !important;
}

#zen-workspaces-button {
  background-color: #271d1a !important;
}

#TabsToolbar {
  background-color: #1a110f !important;
}

.urlbar-background {
  background-color: #271d1a !important;
}

.urlbar-input::selection {
  color: #55200b !important;
  background-color: #ffb59c !important;
}

.urlbarView-url {
  color: #d8c2bb !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ffb59c
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffc0aa !important;
  --identity-icon-color: #ffc0aa !important;
}

.identity-color-turquoise {
  --identity-tab-color: #ffb59c !important;
  --identity-icon-color: #ffb59c !important;
}

.identity-color-green {
  --identity-tab-color: #b6ffa5 !important;
  --identity-icon-color: #b6ffa5 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffeea5 !important;
  --identity-icon-color: #ffeea5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffe572 !important;
  --identity-icon-color: #ffe572 !important;
}

.identity-color-red {
  --identity-tab-color: #ffa29f !important;
  --identity-icon-color: #ffa29f !important;
}

.identity-color-pink {
  --identity-tab-color: #ffcbb9 !important;
  --identity-icon-color: #ffcbb9 !important;
}

.identity-color-purple {
  --identity-tab-color: #72351f !important;
  --identity-icon-color: #72351f !important;
}

#zen-appcontent-navbar-container {
  background-color: #1a110f !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #ffb59c !important;
  color: #ffb59c !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #ffb59c !important;
  color: #ffb59c !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #ffb59c !important;
}
